/* BASE */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #4a4a4a url('../img/dark_embroidery.png');
    font-family: 'IM Fell French Canon SC', serif;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HEADER */
header {
    width: 660px;
    min-width: 360px;
    margin: 20px auto;
    text-align: center;
    font-size: 1.5em;
}

header h1 {
    margin: 20px auto 40px auto;
    border-bottom: 3px solid #fff;
    width: 600px;
    text-align: center;
    letter-spacing: 8px;
}

/* SCORECARD */
.scorecard {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

.scorecard p {
    margin: 0;
    padding: 0;
}

.scorecard .restart {
    cursor: pointer;
    transition: all 0.4s;
}

.scorecard .restart:hover {
    transform: rotate(1turn);
}
